---
preloadCSS: "/assets/css/blog.css"
eleventyComputed:
  title: "{{ pageTitle }}"
  description: "{{ description }}"
  preloadImg: "{{ image }}"
  permalink: "/{{ service | slug }}/index.html"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/banner.css" />
<link rel="stylesheet" href="/assets/css/servicesLayout.css" />
<link rel="stylesheet" href="/assets/css/cta1.css" />
<link rel="stylesheet" href="/assets/css/servicesThree.css" />
<link rel="stylesheet" href="/assets/css/sideBySide.css" />
<link rel="stylesheet" href="/assets/css/faq.css" />
<link rel="stylesheet" href="/assets/css/cta2.css" />
<link rel="stylesheet" href="/assets/css/contactForm.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
  <div class="cs-container">
    <span class="cs-int-title">{{ bannerTitle }}</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/{{ service | slug }}" class="cs-link cs-active"
        >{{ service }}</a
      >
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
        {{ bannerImage }}
      "
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="
        {{ bannerImage }}
      "
    />
    <img
      decoding="async"
      src="{{ bannerImage }}"
      alt=""
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--     ServicesLAyout - Content Page            -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1399">
  <div class="cs-container">
    <div class="cs-image-group">
      <div class="cs-flex">
        <picture class="cs-background">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              {{ h1Image }}
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              {{ h1Image }}
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="{{ h1Image }}"
            alt="people"
            width="542"
            height="728"
          />
        </picture>
      </div>
      {#
      <ul class="cs-card-group">
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg"
              alt="icon"
              width="32"
              height="32"
            />
            Quality Services
          </h3>
          <p class="cs-item-text">
            There are many variations of but the majority is simply free
            suffered.
          </p>
        </li>
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg"
              alt="icon"
              width="32"
              height="32"
            />
            Quality Services
          </h3>
          <p class="cs-item-text">
            There are many variations of but the majority is simply free
            suffered.
          </p>
        </li>
      </ul>
      #}
    </div>
    <div class="cs-content">
      <h1 class="cs-title">{{ h1Title }}</h1>
      <div id="">{{ content | safe }}</div>
    </div>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--        ServicesLayout - Side By Side         -->
<!-- ============================================ -->

<section id="RPsbs-2050">
  <div class="cs-container">
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="
          {{ section2Image }}
        "
      />
      <source
        media="(min-width: 601px)"
        srcset="
          {{ section2Image }}
        "
      />
      <img
        loading="lazy"
        decoding="async"
        src="{{ section2Image }}"
        alt=""
        width="650"
        height="600"
        aria-hidden="true"
      />
    </picture>
    <div class="cs-content">
      <span class="cs-topper">{{ section2Subheader }}</span>
      <h2 class="cs-title">{{ section2Title }}</h2>
      <p class="cs-text">{{ section2Content }}</p>
      {#
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-tick"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Our focus is on your overall well-being.
        </li>
        <li class="cs-li">
          <img
            class="cs-tick"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          We provide quality dental care.
        </li>
        <li class="cs-li">
          <img
            class="cs-tick"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Innovative therapy & qualified dentists.
        </li>
      </ul>
      #}
      </br>
      <a href="/contact" class="cs-button-solid">Get in touch</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--     ServicesLayout - Side By Side Reverse    -->
<!-- ============================================ -->

<section id="RPsbsr-2050">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{{ section3Subheader }}</span>
      <h2 class="cs-title">{{ section3Title }}</h2>
      <p class="cs-text">
        {{ section3Content }}
      </p>
      {# <ul class="cs-ul-icons">
        <li class="cs-li-icons">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/tooth-gum.png"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Gum Surgery</h3>
            <p class="cs-li-text">
              Dentitch provides the best service and has won many awards. Our
              mission is to make everyone confident to give their best smile.
            </p>
          </div>
        </li>
        <li class="cs-li-icons">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/braces-rubber-bands.png"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Dental Sealants</h3>
            <p class="cs-li-text">
              Dentitch provides the best service and has won many awards. Our
              mission is to make everyone confident to give their best smile.
            </p>
          </div>
        </li>
        <li class="cs-li-icons">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/tooth-loosen.png"
            decoding="async"
            alt="icon"
            width="48"
            height="48"
            loading="lazy"
          />
          <div class="cs-flex">
            <h3 class="cs-h3">Gum Disease</h3>
            <p class="cs-li-text">
              Dentitch provides the best service and has won many awards. Our
              mission is to make everyone confident to give their best smile.
            </p>
          </div>
        </li>
      </ul> #}
    </div>
    <div class="cs-picture-group">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
            {{ section3Image }}
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
            {{ section3Image }}
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="{{ section3Image }}"
          alt=""
          width="650"
          height="600"
          aria-hidden="true"
        />
      </picture>
      {# <div class="cs-box">
        <img
          class="cs-box-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/dental-icon-people.svg"
          alt="people"
          width="60"
          height="60"
        />
        <span class="cs-box-number">24,000+</span>
        <span class="cs-box-desc">
          Patients served and bring back their happy smile
        </span>
      </div> #}
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                     CTA1                     -->
<!-- ============================================ -->

<section id="cta-1693">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">
        Have Doubts? Get Your Queries Solved by Our Experts
      </h2>
      <a href="" class="cs-button-solid">Get In Touch</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  ServicesThree               -->
<!-- ============================================ -->

<section id="services-1626">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Our services</span>
        <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
      </div>
      <p class="cs-text">
        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid,
        voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum
        cupiditate totam reiciendis quam minus inventore sint rem impedit esse
        quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis
        dolores, veritatis soluta autem beatae officia expedita ipsum rerum
        doloribus sit provident delectus.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/nuclear.jpg"
              alt="room"
              width="413"
              height="420"
            />
          </picture>
          <h3 class="cs-h3">Process Safety & Risk Management</h3>
          <p class="cs-item-text">
            We provide some of the finest quality, most reliable, and cost
            effective services and solutions.
          </p>
          <span class="cs-fake-link">
            Get Started
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg"
              alt=""
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
          </span>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/worker5.jpg"
              alt="room"
              width="413"
              height="420"
            />
          </picture>
          <h3 class="cs-h3">Occupational Safety & Health</h3>
          <p class="cs-item-text">
            We provide some of the finest quality, most reliable, and cost
            effective services and solutions.
          </p>
          <span class="cs-fake-link">
            Get Started
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg"
              alt=""
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
          </span>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg
              "
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/containers.jpg"
              alt="room"
              width="413"
              height="420"
            />
          </picture>
          <h3 class="cs-h3">Security Assessment and Planning</h3>
          <p class="cs-item-text">
            We provide some of the finest quality, most reliable, and cost
            effective services and solutions.
          </p>
          <span class="cs-fake-link">
            Get Started
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg"
              alt=""
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq">
  <div class="cs-container">
    <div class="cs-image-group">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png"
          alt="body shop"
          width="522"
          height="609"
          aria-hidden="true"
        />
      </picture>
    </div>
    <div class="cs-content">
      <span class="cs-topper">Asked Questions</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
      <ul class="cs-faq-group">
        <!-- Active class added as default -->
        <li class="cs-faq-item active">
          <button class="cs-button">
            <span class="cs-button-text">
              How does climate change affect people?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is being done about climate change?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is being done about climate change?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Is it hopeless to stop climate change?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              How is climate change affecting wildlife?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              How do I join the volunteer team?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                SideBySide                    -->
<!-- ============================================ -->

<section id="sbs-1640">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Courses</span>
      <h2 class="cs-title">Stitch Group for Process Safety Training</h2>
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/talking.jpg
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/talking.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/talking.jpg"
          alt="people"
          width="608"
          height="406"
        />
      </picture>
    </div>
    <div class="cs-stats-group">
      <p class="cs-text">
        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid,
        voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum
        cupiditate totam reiciendis quam minus inventore sint rem impedit esse
        quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis
        dolores, veritatis soluta autem beatae officia expedita ipsum rerum
        doloribus sit provident delectus perspiciatis voluptatem eum cupiditate.
      </p>
      <p class="cs-text">
        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid,
        voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum
        cupiditate totam reiciendis quam minus inventore sint rem impedit esse
        quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis
        dolores, veritatis soluta autem beatae officia expedita ipsum rerum
        doloribus sit provident delectus perspiciatis voluptatem eum cupiditate.
      </p>
      <ul class="cs-stats">
        <li class="cs-stat">
          <span class="cs-number">475</span>
          <span class="cs-desc">Repeat Customers</span>
        </li>
        <li class="cs-stat">
          <span class="cs-number">2K</span>
          <span class="cs-desc">Satisfied Customers</span>
        </li>
        <li class="cs-stat">
          <span class="cs-number">37</span>
          <span class="cs-desc">Professional Team</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!-- ServicesLayout - FAQ - SEO content droppper  -->
<!-- ============================================ -->

<section id="faq-1466">
  <div class="cs-container">
    <picture class="cs-picture">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png
        "
      />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png
        "
      />
      <img
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png"
        alt="body shop"
        width="522"
        height="609"
        aria-hidden="true"
      />
    </picture>
    <div class="cs-content">
      <span class="cs-topper">Asked Questions</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
      <ul class="cs-faq-group">
        <!-- Active class added as default -->
        <li class="cs-faq-item active">
          <button class="cs-button">
            <span class="cs-button-text">
              How does climate change affect people?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is being done about climate change?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is being done about climate change?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is being done about climate change?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Is it hopeless to stop climate change?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              How is climate change affecting wildlife?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              How do I join the volunteer team?
            </span>
          </button>
          <p class="cs-item-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
            convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
            diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
            enim, magna urna, quam.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                    CTA2                      -->
<!-- ============================================ -->

<section id="cta">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Portfolio</span>
      <h2 class="cs-title">Want to Work with Our Team?</h2>
      <p class="cs-text">
        We love what we do and we do it with passion. We value the
        experimentation of the message and smart incentives.
      </p>
      <a href="" class="cs-button-solid">Read More</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cleaning2-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cleaning2.jpg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cleaning2.jpg"
      alt="cleaner"
      width="1920"
      height="660"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   ContactForm                -->
<!-- ============================================ -->

<section id="contact-587">
  <div class="cs-container">
    <picture class="cs-picture">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/room2-m.jpg
        "
      />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="
          https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/room2.jpg
        "
      />
      <img
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/room2.jpg"
        alt="room"
        width="841"
        height="877"
      />
    </picture>
    <div class="cs-right">
      <div class="cs-content">
        <span class="cs-topper">Contact Us</span>
        <h2 class="cs-title">Get In Touch</h2>
        <p class="cs-text">
          Pellentesque sit amet porttitor eget dolor morbi non arcu. Vitae justo
          eget magna fermentum iaculis eu non
        </p>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-587" name="Contact Form" method="post">
        <label class="cs-label">
          Name
          <input
            class="cs-input"
            required
            type="text"
            id="email-587"
            name="name"
            placeholder="Name"
          />
        </label>
        <label class="cs-label">
          Phone
          <input
            class="cs-input"
            required
            type="text"
            id="phone-587"
            name="phone"
            placeholder="Phone"
          />
        </label>
        <label class="cs-label cs-message">
          Message
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-587"
            placeholder="Write message..."
          ></textarea>
        </label>
        <button class="cs-button-solid cs-submit" type="submit">
          Send Message
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
